*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #568687;
    text-align: center;
}
#container{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game{
    height: 300px; 
    width:20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#box{
    height: 60px;
    width: 25%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
#resetBtn{
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: none;
}